.search {
  font-size: 15px;
   border-width: 1px;
   border-radius: 8px;
   border-color: rgb(180, 73, 180);
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-style: solid;

}