input {
  font-size: 16px;
  width: 500px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
}