p {
  font-family: Arial;
  color: rgb(100, 100, 100);
  margin-top: 0;
  margin-bottom: 0;
  
}

.label {
  font-size: 14px;
  margin-bottom: 12px;
}

.text-box {
  font-size: 16px;
  width: 400px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  margin-bottom: 20px;
}

.disclaimer {
  font-size: 15px;
  margin-bottom: 20px;
}

.linkedin-button {
  background-color: rgb(27, 73, 211);
  color: white;
  border: none;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 400px;
  cursor: pointer;

}