.snow-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 5px;
 
}

.text-box {
  font-size: 16px;
  border: none;
  width: 300px;
  vertical-align: middle;


}

.comment-button {
  background-color: rgb(49, 123, 207);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.comment-button:hover {
  opacity: 0.7;
}

