.image {
  width: 300px;
  margin-left: 550px;
  display: block;
  margin-bottom: 10px;
}

.search-box {
  font-size: 16px;
  width: 500px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: block;
  margin-left: 450px;


}

