.name {
  font-family: Arial;
  font-size: 16px;
  width: 140px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgb(202, 198, 198);
  border-style: solid;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 10px;

}

.name2 {
  font-family: Arial;
  font-size: 16px;
  width: 140px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgb(202, 198, 198);
  border-style: solid;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 10px;

}

.email {
  font-family: Arial;
  font-size: 16px;
  display: block;
  margin-left: 6px;
  width: 310px;
  padding-left: 6px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(202, 198, 198);
  border-style: solid;
  margin-bottom: 10px;


}

.sign-button {
  background-color: rgb(28, 92, 201);
  color: white;
  display: block;
  margin-left: 6px;
  width: 328px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;

}

.sign-button:hover {
  background-color: rgb(20, 53, 111);
}

.sign-button:active {
  opacity: 0.7;
}