.uber-request {
  color: black;
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 10px;

}

.location {
  font-family: Arial;
  font-size: 14px;
  width: 250px;
  background-color: rgb(233, 226, 226);
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(233, 226, 226);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin-bottom: 10px;
}

.destination {
  font-family: Arial;
  font-size: 14px;
  width: 250px;
  background-color: rgb(233, 226, 226);
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(233, 226, 226);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin-bottom: 20px;


}

.request-button {
  background-color: black;
  color: white;
  font-family: Arial;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 130px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;

}

.request-button:hover {
  opacity: 0.7;
}

.request-button:active {
  opacity: 0.5;
}

.schedule-button {
  background-color: rgb(233, 226, 226);
  color: black;
  font-family: Arial;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 140px;
  border-color: rgb(233, 226, 226);
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.15s;

}

.schedule-button:hover {
  background-color: gray;
}

.schedule-button:active {
  opacity: 0.5;
}