p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 16px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
}

.add-button {
  background-color: rgb(22, 115, 192);
  color: white;
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: opacity 0.15s;


}

.add-button:hover {
  opacity: 0.9;
}

.add-button:active {
  opacity: 0.6;
}